// Variables
@import 'variables';
@import 'milligram/milligram';
@import 'interview';

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

nav {
  display: flex;
  line-height: 3;
  flex-shrink: 0;
}

.logo {
  font-weight: bold;
}

.navigation {
  display: flex;
}

.navigation-right {
  margin-left: auto;

  .nav-link {
    margin-left: 1rem;
  }

  .nav-link-active {
    font-weight: bold;
  }
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  flex: 1;
}

.alert {
  padding: 1rem 2rem;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.algorithms-content {
  font-family: monospace;
}

.algorithms-error {
  display: none;
  font-family: monospace;
  padding: 12px;
  background: #f91734;
  color: #fff;
  margin-bottom: 6px;
}

.algorithms-error.visible {
  display: block;
}

//
// login styles
//
.not-logged-in {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4f5f6,
    #eee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4f5f6,
    #eee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.log-in-page {
  max-width: 440px;
  height: 100%;
  display: flex;
  align-items: center;
  input {
    border: 0;
    background-color: #fff;
  }
  label {
    font-weight: normal;
  }
}

.log-in-form-header {
  text-align: center;
}

.log-in-form-container {
  width: 100%;
}

.forgot-password {
  text-align: center;
}
