// Variables
@import 'variables';

nav {
  display: flex;
  line-height: 3;
}

.navigation {
  display: flex;
}

.navigation-right {
  margin-left: auto;

  .nav-link {
    margin-left: 1rem;
  }
}

.alert {
  padding: 1rem 2rem;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.record-metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  form,
  input,
  button {
    margin-bottom: 0;
  }
}

.record-metadata-form {
  display: flex;
}

.scan-app-container {
  height: 400px;
  overflow: auto;
}
